<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--引入bootstrap.css文件-->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <style>
        table{margin-top: 30px;}
        span{display: block}
        .ipt{display: none}

    </style>
</head>
<body>
    <div class="container">

        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="exampleInputName">搜索</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="请输入要搜索的姓名">
            </div>
            <button type="button" class="btn search btn-primary">搜索</button>
        </form>


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>出生年月</th>
                    <th>性别</th>
                    <th>班级</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
<!--                <tr>-->
<!--                    <td>1001</td>-->
<!--                    <td>jack</td>-->
<!--                    <td>2000-02-18</td>-->
<!--                    <td>男</td>-->
<!--                    <td>1904A</td>-->
<!--                    <td>-->
<!--                        <button type="button" class="btn btn-primary">删除</button>-->
<!--                        <button type="button" class="btn btn-primary">修改</button>-->
<!--                    </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>1001</td>-->
<!--                    <td>jack</td>-->
<!--                    <td>2000-02-18</td>-->
<!--                    <td>男</td>-->
<!--                    <td>1904A</td>-->
<!--                    <td>-->
<!--                        <button type="button" class="btn btn-primary">删除</button>-->
<!--                        <button type="button" class="btn btn-primary">修改</button>-->
<!--                    </td>-->
<!--                </tr>-->
            </tbody>

        </table>
    </div>

</body>
</html>
<!--引入的jquery-->
<script src="js/jquery-1.11.2.min.js"></script>
<!--引入的bootstrap.min.js-->
<script src="js/bootstrap.min.js"></script>
<!--引入show.js-->
<script src="js/show.js"></script>